* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7d5f2;
}
body .container {
  width: 100vw;
  height: 100vw;
  display: grid;
  grid-template-rows: 0.5fr 1fr 0.3fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header" "main" "footer";
}

header {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 15px;
  min-width: 300px;
}
header .logo {
  border-radius: 200%;
  border-color: black;
  width: 100px;
  margin-right: 150px;
}
header .titulo {
  text-align: center;
  text-decoration: none;
  color: #fd01dc;
  font-size: 4rem;
}

main {
  text-align: center;
  grid-area: "main";
}
main .nav-item {
  display: flex;
  justify-content: space-evenly;
}
main .dropdown-menu {
  background-color: cadetblue;
}
main .imagen {
  border-radius: 200px;
  width: 500px;
}
main .contact {
  display: flex;
  justify-content: center;
}
main .contact .formulario {
  font-weight: bold;
  width: 500px;
  height: 275px;
  text-align: center;
  border-style: double;
  border-color: darkgray;
  border-width: 0.5rem;
  padding: 10px;
  text-align: justify;
}
main .contact .edad {
  margin-top: 5%;
}
main .contact .edad1 {
  margin-right: 5%;
}
main .contact .enviar {
  display: flex;
  text-align: center;
  margin: 5%;
  justify-content: space-around;
}
main .contact .consulta {
  display: flex;
  justify-content: center;
}
main .contact .sexo {
  text-align: center;
}
main .budapasto {
  width: 250px;
  margin-left: 10px;
  text-align: center;
  border-radius: 200px;
}
main .box1 {
  width: 350px;
  height: 250px;
  border-style: dotted;
  border-width: 10px;
  border-color: darkgray;
  overflow: auto;
  padding: 10px;
  color: black;
}
main .sahume {
  width: 250px;
  border-radius: 200px;
}
main .aboutus p {
  margin-bottom: 50px;
  display: inline-flex;
}
main .cards {
  display: flex;
  flex-direction: column;
}
main .cards .fila {
  display: flex;
  justify-content: space-evenly;
}
main .cards .card {
  margin-bottom: 15px;
  width: 18rem;
}
@media screen and (max-width: 480px) {
  main .titulo {
    font-size: 0, 5rem;
    justify-content: left;
  }
  main .imagen {
    border-radius: 200px;
    width: 250px;
  }
  main .formulario {
    font-weight: bold;
    text-align: center;
    border-style: double;
    border-color: #fd01dc;
    border-width: 0.5rem;
    padding: 10px;
    text-align: justify;
  }
}

footer {
  text-align: center;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0px;
  padding: 10px;
}
footer .logoig {
  width: 50px;
}
footer .logows {
  border-radius: 200%;
  width: 50px;
}

@media screen and (max-width: 768px) {
  .body {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .header {
    display: flexbox;
  }
  .header .titulo {
    justify-content: center;
    text-decoration: none;
    color: #fd01dc;
    font-size: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .body {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .header {
    display: flexbox;
  }
  .header .titulo {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #fd01dc;
    font-size: 2rem;
  }
  .main .box1 {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    width: 100px;
    height: 250px;
    border-style: double;
    border-color: darkgray;
    padding: 5px;
    color: black;
  }
  .main .formulario {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/*# sourceMappingURL=styles.css.map */
