@import "./var";
main{
    text-align: center;
    grid-area: "main";
    .nav-item{
        display: flex;
        justify-content: space-evenly;
    }
    .dropdown-menu{
        background-color: cadetblue;
    }
    .imagen{
        border-radius: 200px;
        width: 500px;
    }
    .contact{
        display: flex;
        justify-content: center;
        .formulario {
            font-weight: bold;
            width: 100%;
            max-width: 500px;
            height: auto;
            text-align: center;
            padding: 10px;
            margin: 0 auto;
            box-sizing: border-box;
        }
        .edad{
            margin-top: 5%;
        }
        .edad1{
            margin-right: 5%;
        }
        .enviar{
            display: flex;
            text-align: center;
            margin: 5%;
            justify-content: space-around;
        }
        .consulta{
            display: flex;
            justify-content:center;
            
        }
        .sexo{
            text-align: center;
        }

    }
    .budapasto{
        width: 250px;
        margin-left: 10px;
        text-align: center;
        border-radius: 200px;
    }
    .box1{
        width: 350px;
        height: 250px;
        border-style:dotted;
        border-width: 10px;
        border-color: darkgray;
        overflow: auto;
        padding: 10px;
        color: black;
    }
    .sahume{
        width: 250px;
        border-radius: 200px;
    }
    .aboutus p{
        margin-bottom: 50px;
        display:inline-flex
        
    }
    .cards{
        display: flex;
        flex-direction: column;
        .fila{
            display: flex;
            justify-content: space-evenly
        }
        .card{
            margin-bottom: 15px;
            width: 18rem;
        }
    }
    @media screen and (max-width: 480px){
        .titulo{
            font-size: 0,5rem;
            justify-content: left
        }
        .imagen{
            border-radius: 200px;
            width: 250px;
        }
        .formulario{
            font-weight: bold;
            text-align: center;
            padding: 10px;
            text-align: justify;
        }
       }
}