@import "./body";
@import "./header";
@import "./main";
@import "./footer";
@import "./var";
@media screen and (max-width: 480px){
    .titulo{
        font-size: 1rem;
        justify-content: center
    }
    .imagen{
        border-radius: 200px;
        width: 250px;
    }
   }